body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.container {
  border: none;
  width: 250px;
  height: 120px;
  margin: 80px 450px;
  padding: 30px;
}
.grades {
  margin: auto;
  font-weight: bold;
}

#output {
  color: red;
  font-weight: bold;
}
